[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = https://github.com/DedmenWoW/mod-ah-bot.git
[submodule "modules/mod-solo-lfg"]
	path = modules/mod-solo-lfg
	url = https://github.com/azerothcore/mod-solo-lfg.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = https://github.com/azerothcore/mod-autobalance.git
[submodule "modules/mod-dynamic-xp"]
	path = modules/mod-dynamic-xp
	url = https://github.com/DedmenWoW/mod-dynamic-xp.git
[submodule "modules/mod-guildhouse"]
	path = modules/mod-guildhouse
	url = https://github.com/DedmenWoW/mod-guildhouse.git
[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = https://github.com/azerothcore/mod-transmog.git
[submodule "modules/mod-junk-to-gold"]
	path = modules/mod-junk-to-gold
	url = https://github.com/noisiver/mod-junk-to-gold
[submodule "modules/mod-gain-honor-guard"]
	path = modules/mod-gain-honor-guard
	url = https://github.com/DedmenWoW/mod-gain-honor-guard
